@charset "UTF-8";
body{
	margin:0;
	padding:0;
}
#wrap{
	
}
#wrap #top{
	margin: 0 auto;
	width:1000px;
	overflow:hidden;
}
#wrap #top h2{
	margin:20px 0 0 50px;
}
#wrap #video{
	float:left;
	width:57%
}
iframe{
	width:500px;
	margin:0 0 0 40px;
}
#wrap #content{
	float:left;
	width:40%;
	overflow:hidden;
	height:100%;
}
#content table{
	float:left;
	width:400px;
	height:375px;
	margin:30px 0;
}
#content table tr{
	width: 100%;
    height: 10px;
}
#content table th{
	width:123px;
}
#content th img{
	float:left;
	margin:2px 2px;
	border:1px solid black;
	border-radius:10px;
	width:120px;
	height:85px;
}

#content td span{
	display: inline-block;
    border-radius: 30px;
    background: #eee;
    height: 20px;
    line-height:20px;
    padding: 2px 50px;
}
#wrap #bottom{
	overflow:hidden;
	margin:0 auto;
	width:1000px;
}
#wrap #bottom ul li{
	list-style:none;
	height:60px;
	margin:0 50px 20px 10px;
	margin-bottom:20px;
	overflow:hidden;
}
li table{
	width:100%;
}
li td{
	background:#eee;
	border-radius:7px;
	text-align:center;
}
li th{
	width:100px;
}
#bottom li img{
	width: 80px;
	height:50px;
	border-radius:5px;
	float:left;
	border:1px solid black;
	overflow:hidden;
	margin-left:5px;
}
#wrap a{
	text-decoration:none;
	color:black;
}
